@model prjSoundBetterApi.Models.TProject

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TProject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FProjectId" />
            <div class="form-group">
                <label asp-for="FMemberId" class="control-label"></label>
                <select asp-for="FMemberId" class="form-control" asp-items="ViewBag.FMemberId"></select>
                <span asp-validation-for="FMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBudget" class="control-label"></label>
                <input asp-for="FBudget" class="form-control" />
                <span asp-validation-for="FBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FStartdate" class="control-label"></label>
                <input asp-for="FStartdate" class="form-control" />
                <span asp-validation-for="FStartdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FEnddate" class="control-label"></label>
                <input asp-for="FEnddate" class="form-control" />
                <span asp-validation-for="FEnddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDescription" class="control-label"></label>
                <input asp-for="FDescription" class="form-control" />
                <span asp-validation-for="FDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FProjectStatusId" class="control-label"></label>
                <select asp-for="FProjectStatusId" class="form-control" asp-items="ViewBag.FProjectStatusId"></select>
                <span asp-validation-for="FProjectStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSiteId" class="control-label"></label>
                <select asp-for="FSiteId" class="form-control" asp-items="ViewBag.FSiteId"></select>
                <span asp-validation-for="FSiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FThumbnailPath" class="control-label"></label>
                <input asp-for="FThumbnailPath" class="form-control" />
                <span asp-validation-for="FThumbnailPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
